<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AI Career Coach | System Terminal{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/images/favicon/favicon.ico">
    {% block styles %}{% endblock %}
</head>
<body>

    <header class="glass-panel">
        <button style="text-align: left;"
        id="menu-toggle"
        class="menu-toggle">
        
        ☰

    </button class="ham">
    <a href="/dashboard" class="logo">
        Nextstep AI
    </a>

    <!-- Desktop Navigation -->

    <nav class="desktop-nav">

        <a href="/dashboard" class="nav-btn {% if active_page == 'dashboard' %}active{% endif %}">
            Home
        </a>

        <a href="/resume" class="nav-btn {% if active_page == 'resume' %}active{% endif %}">
            ATS Analyzer
        </a>

        <a href="/cover-letter" class="nav-btn {% if active_page == 'cover-letter' %}active{% endif %}">
            Cover Letters
        </a>

        <a href="/interview-prep" class="nav-btn {% if active_page == 'interview-prep' %}active{% endif %}">
            Interview Prep
        </a>

        <a href="/about" class="nav-btn {% if active_page == 'about' %}active{% endif %}">
            About 6GB
        </a>

    </nav>

    <!-- Mobile Hamburger -->



</header>

<!-- Overlay -->

<div id="nav-overlay"></div>

<!-- Mobile Drawer -->

<nav id="mobile-nav">

    <div class="drawer-header">

        <h2>Nextstep AI</h2>

        <button
            id="close-menu">

            ✕

        </button>

    </div>

    <a href="/dashboard">Home</a>

    <a href="/resume">ATS Analyzer</a>

    <a href="/cover-letter">Cover Letters</a>

    <a href="/interview-prep">Interview Prep</a>

    <a href="/about">About 6GB</a>

</nav>

    <main class="container">
        {% block main %}{% endblock %}
    </main>
<script src="/static/js/navbar.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>